<div class="productHeader">
	<ul class="nav nav-tabs right">
		<li><%= link_to 'Prints', prints_path %></li>
		<li><%= link_to 'Paintings', paintings_path %></li>
		<li><%= link_to 'Drawings', drawings_path %></li>
	</ul>
</div>

<% @products.each do |product| %>
	<div class = "product">
		<%=image_tag product.image%>
		<% if product.category.present? %>
	    	<p><%=product.category.name %></p>
	  	<% else %>
	    	<p>No Category Assigned</p>
	  	<% end %>

	  	<td><%= link_to 'Show', product%></td>
	</div>
<% end %>