<!DOCTYPE html>
<html>
<head>
  <title>Valde Group Media - Art Department</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<h1>Valde Group Media - Art Department </h1>
		<span class="headerLinks">
			<%= link_to 'About Us', about_path %> |
			<a href="#">Products</a> |
			<a href="#">Contact Us</a> |
			<a href="#">Checkout</a> 
		</span>
	</header>
<%= yield %>
	<footer>
		<p>&copy;Valde Group Media <%=Time.now.year%></p>
	</footer>
</body>
</html>
